h1{
    text-align: center;
}

body {
    background-image: url("background.jpg");
}

.tab-color{
    color: #1740ff;
}

.tab-h3{
    color: aqua;
}

.tab-paragraph{
    width: 400px;
    color: cornsilk;
}

.my-visible-box {
    background-color: rgba(56,55,54,0.91);
    opacity: 70%;
    border-radius: 5px;
    padding: 10px;
    width: 500px; /* Adjust width as needed */
    margin: 0 auto; /* Center the box horizontally */
}

.full-height{
    height: 100vh;
}

